html {
    position: center;
    margin: 50px;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color:#bdc3ff; /* Optional: Set background color */
    
}

#container {
    position: relative;
    display: block;
  border-radius: 20px;
  transform: scale(0.4); /* Zoom out by % */

}

#avatar, #background, #start, #clothes-select, #buttons, #finish {
    position: absolute;
  
}

.dress {
    position: absolute;
    
}

.logo-link {
    position: absolute;
    top: 25px;
    left: 20px;
    transition: transform 0.4s; /* Add transition for the transform property */
  }
  
  .logo {
    width: 150px; /* Adjust size as needed */
    height: auto;
  }
  
  .logo-link:hover {
    transform: translateY(2px);
  }

/* hamburger menu styles */
.menu-toggle {
    position: absolute;
    top: 70px;
    left: 20px;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.4s, color 0.4s; /* Add color transition */
  }
  
  .bar {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
  }
  
  /* Add pressing down animation and color change */
  .menu-toggle:hover {
    transform: translateY(2px);
  }
  
  .menu-toggle:hover .bar {
    background-color: #ff0084; /* Change bar color on hover */
  }
  

    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fdcdff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    top: 110px; 
    left: 20px; 
    font-family: "VT323", monospace; /* set VT323 font */
    font-size: 20px; /* set font size to __px */
  
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ccc; /* Add a bottom border */
}
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }


  footer {
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: "VT323", monospace; /* set VT323 font */

  }

  .footer-text {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
  }

  footer a {
    text-decoration: none;
  }

  footer a:hover {
    color: rgb(0, 17, 199) !important; 
  }
